.AreaLogada {
    display: flex;
    width: 900px;
    max-width: 80%;
    margin: 0 auto;
}
.AreaLogada .navegacao li {
    padding: 12px 36px;
    text-align: center;
    border-bottom: 1px solid #0E3E61;
    font-size: 16px;
}
.AreaLogada .navegacao li a {
    text-decoration: none;
    color: #002F52;
}

.AreaLogada .conteudo {
    flex-grow: 1;
}