.carrinho.dropdown {
    position: relative;
}

.carrinho.dropdown:hover .minicarrinho-conteudo {
    display: block;
}

.minicarrinho-conteudo {
    display: none;
    position: absolute;
    left: 0;
    padding: 24px;
    background: #fff;
}

.minicarrinho-conteudo h4 {
    font-size: 20px;
    color: #EB9B00;
    font-weight: 700;
    white-space: nowrap;
}
